.bienvenida-container {
  font-family: 'Georgia', serif;
  background: url('../assets/fondo1.png') no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  color: #fff;
}

.bienvenida-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2266cc;
  padding: 1rem 2rem;
}

.logo {
  height: 50px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li {
  cursor: pointer;
  font-weight: bold;
}

.nav-links .active {
  border-bottom: 3px solid white;
}

.bienvenida-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}

.descripcion {
  width: 50%;
  background-color: rgba(0,0,0,0.5);
  padding: 2rem;
  border-radius: 12px;
}

.descripcion h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.jugar-btn {
  background-color: #2266cc;
  border: none;
  padding: 1rem 2rem;
  color: white;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.imagen-tablero img {
  width: 1200px;         /* O un tamaño específico como 600px */
  height: auto;        /* Mantiene proporción */
  display: block;
  margin: 0 auto;      /* Centrado si lo necesitas */
}