.tablero-centrado {
  position: relative; /* 👈 esto es clave */
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/src/assets/fondo_mesa.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tablero {
  position: relative;
  width: 700px;
  height: 700px;
  z-index: 1;
}

.tile img {
  pointer-events: none;
}

.fondo-hexagonal {
  position: absolute;
  width: 770px;
  height: 770px;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}